body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  font-size: 15px;
  color: white;
  background-color: red;
}

.update-form button {
  font-size: 15px;
  color: white;
  background-color: rgb(106, 197, 111);
}

.update-button {
  font-size: 15px;
  color: white;
  background-color: rgb(106, 197, 111);
}

.input-summary, .input-title {
  width: 50%;
  background-color: lightgray;
  height: 40px;
}